*{
  box-sizing: border-box;
}
header{
  width: 100%; 
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  padding-right: 0;
  position: absolute;
  top: 0;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.text-info  p{
  margin: 1.5% 0;
  text-align: justify;
}
#otherResponses *{
  grid-template-columns: 20% 75%;
  align-items: center;
  justify-content: center;
}
#otherResponses::-webkit-scrollbar {
  width: 5px;
}

#otherResponses::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#otherResponses::-webkit-scrollbar-thumb {
  background: #888;
}
.slick-slide > div{
  margin: 0 10px;
}

@media screen and (max-width:'768px') {
    .navbar{
      display: none;
    }
    
    #text-info p{
      margin: 15% 0;
      font-size: 10px;
    }
}